
<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Churn Prediction</title>
<link rel="stylesheet" href="https://ssl.gstatic.com/docs/script/css/add-ons1.css">
<style>
body {
  background-image: url('/static/bac2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
</style>
</head>
<body>
 <div class="main" style="padding-top:20px;">
	<center><h2, style=" font-size:25px; color: whitesmoke;">Churn Prediction (ML deployment)</h2>
	<br>
    <p style="font-size:20px; color:whitesmoke;">The customer is predicted as {{ prediction }} customer </p>
</center>
 </div>	
</body>
</html>